page-image-viewer {

	zoom-area {
	    position:absolute;
	    left: 0;
	    right: 0;
	    margin:0 auto;
	    display: flex;
	    position: fixed;
	    align-items: center;
		justify-content: center;
	    transform:translateY(-50%);
	}
	
}
